
<h1>Food_Savr Donors</h1>

<div class="donors">
<ul>
  {{#each DonorInfos}}
      <li id="unclaimed">
        <p>
        Donor Number: {{this.id}} <p> Donor Name: {{this.name}} </p> <p> Address:
        {{this.address}} {{this.donorLocation}} {{this.city}} </p>
        </p>
      </li>
  {{/each}}
</ul>