
<h1>Food_Savr</h1>

<div class="donations">
<ul>
  {{#each foodImageURL}}
      {{#unless CharityPickedUp}}
      <li id="unclaimed">
        <p>
        {{this.id}}. {{this.foodImageURL}}
        <button data-foodid="{{this.id}}" class="food">Claim donation</button>
        </p>
      </li>
  {{/unless}}
  {{/each}}
</ul>

<ul>
  <h3>Claimed Donations</h3>
  {{#each foodImageURL}}
      {{#if CharityPickedUp}}
      <li id="claimed">
        <p>
        {{this.id}}. {{this.foodImageURL}}
        </p>
      </li>
  {{/if}}
  {{/each}}
</ul>

</div>
<div class="form-area">
  
<form class="create-form">
  <label for="addDonation">Add a Donation: </label>
  	<br><textarea id="adddonation" type="text" name="donation_name" rows="4" cols="40"></textarea>
<br>
<button id="submit" type="submit">Submit</button>
</form>
</div>