<h1>Food_Savr</h1>

<div class="donations">
<ul>
  {{#each FoodDonations}}
      <li id="unclaimed">
        <p>
        Donation Number: {{this.id}} <span>Food id: </span> {{this.foodTypeId}} <p> Food image: </p> 
        {{this.foodImageURL}} <p> Donor Location: {{this.donorLocation}} </p> <span> Donor Comments: {{this.donorComments}} </span><p> Donor Pick Up Start Time: {{this.donorPickUpBegTime}} Donor Pick Up End Time: {{this.donorPickUpEndTime}}</p> <p> Distance: {{this.Distance}} </p>
        <button data-foodid="{{this.id}}" class="food">Claim donation</button>
        </p>
      </li>
  {{/each}}
</ul>


</div>



